.cover*
.editorconfig
.git/
.github/
.gitignore
.idea/
*.dat
*.DS_Store
*.gz
*.iml
*.ipr
*.iws
*.log
*.md
*.out
*.pid
*.seed
*.sublime-*
*.swp
*.tgz
*.un~
coverage
coverage.html
lib-cov
LICENSE
logs
node_modules/
npm-debug.log
pids
results
test/
